<mat-card class="story-edit-card" *ngIf="selectedStoria">
  <mat-card-title>Modifica Storia: {{ selectedStoria.titolo }}</mat-card-title>
  <mat-card-content>
    <form (ngSubmit)="updateStoria()">
      <div *ngFor="let scenario of selectedStoria.scenari; let i = index">
        <mat-card class="scenario-container">
          <mat-card-title>Scenario {{ i + 1 }}</mat-card-title>
          <mat-card-content>
            <!-- Campo di testo per la descrizione dello scenario -->
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Descrizione Scenario {{ i + 1 }}</mat-label>
              <textarea matInput [(ngModel)]="scenarioDescriptions[i]" name="description{{ i }}"></textarea>
            </mat-form-field>
          </mat-card-content>
        </mat-card>
      </div>
      
      <!-- Pulsante per salvare le modifiche -->
      <div class="form-actions">
        <button mat-raised-button color="accent" type="submit">
          Salva Modifiche
        </button>
        <button mat-raised-button color="warn" (click)="annullaModifiche()">Annulla</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
